$major-unit: 0.5rem;

$major-first: $major-unit * 1;
$major-second: $major-unit * 2;
$major-third: $major-unit * 3;
$major-fourth: $major-unit * 4;
$major-five: $major-unit * 5;

$minor-unit: 0.1rem;
$minor-first: $minor-unit * 1;
$minor-second: $minor-unit * 2;
$minor-third: $minor-unit * 3;

$app-body-font-size: $major-second;
// $app-header-font-size: 1rem;

$app-font-size: $app-body-font-size;
$app-font: Inconsolata, Consolas, Fira Code, "Courier New", Courier, monospace;

$light-blue: blue;

body {
  margin: 0 auto;
  font-size: 62.5%;
  font-family: $app-font;
  font-size: $app-body-font-size;
}

